*.DS_Store
*.pyc
*.so
*.pkl
*.egg-info/
build/
dist/
talks/
temp/
tests/
logtest.py
rvtest.py
environment/
venv/
examples/

# Data outputs
data/weights/
data/figures/
data/trials/
data/*
data_progress/
*json
*html
*jpg
*webp
*md
*png